<?xml version="1.0" encoding="utf-8" ?>

<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile="D:\work\log.txt">-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

	<targets>
		<!-- write logs to file -->
		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" 
					fileName="${basedir}/Logs/${shortdate}.log" 
					layout="NLog: ${date:format=HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${message:exceptionSeparator=\r\n:withException=true}" />
		</target>
		
		<target name="debugger" encoding="utf-8"
				useDefaultRowHighlightingRules="True" 
				enableAnsiOutput="False"
				xsi:type="Debugger" 
				layout="NLog: ${date:format=HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${message:exceptionSeparator=\r\n:withException=true}" />

		<target xsi:type="ColoredConsole" encoding="utf-8" name="console" useDefaultRowHighlightingRules="False"
				layout="NLog: ${date:format=HH\:mm\:ss} [${level:uppercase=true}] ${callsite:fileName=False:includeSourcePath=False} ${message}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>
			
	<rules>
		<!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
		<!--DEBUG,INFO,WARN,ERROR,FATAL-->
		<logger name="*" minlevel="WARN" writeTo="file" />
		<!--输出到VS窗口-->
		<logger name="*" minlevel="Trace" writeTo="debugger" />
	</rules>
</nlog>