<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

	<targets>
		<!-- write logs to file -->
		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" 
					fileName="${basedir}/Logs/${shortdate}.log" 
					layout="${longdate} | ${level:uppercase=true:padding=-5} | ${message:exceptionSeparator=\r\n:withException=true}" />
		</target>
		
		<target name="debugger" encoding="utf-8"
				useDefaultRowHighlightingRules="True" 
				enableAnsiOutput="False"
				xsi:type="Debugger" 
				layout="${date:format=HH\:mm\:ss} ${callsite:includeNamespace=False} | ${level:uppercase=true:padding=-5} | ${message:exceptionSeparator=\r\n:withException=true}" />
	</targets>
			
	<rules>
		<!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
		<!--DEBUG,INFO,WARN,ERROR,FATAL-->
		<logger name="*" minlevel="INFO" writeTo="file" />
		<!--输出到VS窗口, 用户看不到这个-->
		<logger name="*" minlevel="TRACE" writeTo="debugger" />
	</rules>
</nlog>